<%- include("../partials/form-header") %>

<div class="container-fluid form">
    <div class="row">
        <div class="contents">
            <h1 class="form-title">Edit Review from<br>
                <span class="cafe-name"><%= cafe.name %></span>
            </h1>
            <form action="/cafes/<%= cafe._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <!-- Star Rating -->
                <div class="form-group icons">
                    <i star-rating="1" class="fas fa-star star"></i>
                    <i star-rating="2" class="fas fa-star star"></i>
                    <i star-rating="3" class="fas fa-star star"></i>
                    <i star-rating="4" class="fas fa-star star"></i>
                    <i star-rating="5" class="fas fa-star star"></i>
                    <input type="number" name="comment[rating]" id="starInput" value="<%= comment.rating %>" required>
                    <p class="preview" id="starPreview">Click on the Stars to Rate them!</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" autofocus required><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn blue btn-lg btn-block btn-primary" value="Edit Comment">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ("../partials/form-footer") %>