<%- include("../partials/header") %>

<div class="container">
    <h1 class="form-title">Edit Comment from <%= cafe.name %></h1>
    <div class="row">
        <div style="width:50%;margin:24px auto;">
            <form action="/cafes/<%= cafe._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" autofocus><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn brown btn-lg btn-block btn-primary" value="Create Comment">
                </div>
            </form>
            <a href="/cafes/<%= cafe._id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>