<%- include('../partials/form-header')%>

<div class="container-fluid">
    <h1 class="form-title">Edit <%= cafe.name %></h1>
    <div class="row">
        <div style="width:calc(30% + 20vh);margin:24px auto;">
            <form action="/cafes/<%= cafe._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input type="text" value="<%= cafe.name %>" class="form-control" name="cafe[name]" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="url" value="<%= cafe.img %>" class="form-control" name="cafe[img]" placeholder="Image URL" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="cafe[description]" placeholder="Description (Optional)"><%= cafe.description %></textarea>
                </div>
                <!-- Price Rating -->
                <div class="form-group icons">
                    <label for="priceInput">Cafe Price</label>
                    <i price-rating="1" class="fas fa-dollar-sign price"></i>
                    <i price-rating="2" class="fas fa-dollar-sign price"></i>
                    <i price-rating="3" class="fas fa-dollar-sign price"></i>
                    <input type="number" name="cafe[price]" id="priceInput" value="<%= cafe.price %>" required>
                    <p class="preview" id="pricePreview">Click on the Dollar!</p>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn blue btn-lg btn-block btn-primary" value="Update Cafe">
                </div>
            </form>
            <a href="/cafes/<%= cafe._id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include ("../partials/form-footer") %>