<%- include ("../partials/header") %>

<div class="container">
    <!-- Container for the header -->
    <header class="jumbotron" id="img-bg">
        <div class="container bg-jumbo">
            <h1 class="display-4 bg-text" style="font-size:calc(2em + 3.5vw);">Welcome to YelpCafe!</h1>
            <h6 class="text-muted bg-text" style="font-size:calc(0.75em + 0.75vw);margin: 15px 0;">View our selection of Coffee Shops from around the World!</h6>
            <p>
                <a href="/cafes/new" class="btn brown btn-primary">Create New Cafe</a>
            </p>
        </div>
    </header>

    <!-- Container for all the cafes -->
    <section class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% cafes.forEach(e => { %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="thumb-info">
                    <a href="/cafes/<%= e._id %>"><img class="thumb img-thumbnail" src="<%= e.img %>"></a>
                    <div class="caption">
                        <h6><%= e.name %></h6>
                    </div>
                </div>
                <p>
                    <a href="/cafes/<%= e._id %>" class="btn blue btn-info">Show Info</a>
                </p>
            </div>
        <% }) %>
    </section>
</div>

<%- include ("../partials/footer") %>