<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to YelpCafe!</h1>
            <h6 class="text-muted">View our selection of Coffee Shops from around the World!</h6>
            <p>
                <a href="/cafes/new" class="btn btn-primary btn-lg">Create New Cafe</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% cafes.forEach(e => { %>
            <div class="col-md-3 col-sm-6">
                <div>
                    <a href="/cafes/<%= e._id %>"><img class="img-thumbnail" src="<%= e.img %>"></a>
                </div>
                <div class="caption">
                    <h6><%= e.name %></h6>
                </div>
                <p>
                    <a href="/cafes/<%= e._id %>" class="btn btn-info">Show Info</a>
                </p>
            </div>
        <% }) %>
    </div>
</div>

<%- include ("../partials/footer") %>