<%- include ("../partials/header") %>

<div class="container-fluid" id="bg-container">
    <!-- Container for the header -->
    <header class="jumbotron" id="img-bg">
        <div class="container bg-jumbo">
            <h1 class="display-4 bg-text">Welcome to YelpCafe!</h1>
            <h6 class="bg-text">View our selection of Coffee Shops from around the World!</h6>
            <a href="/cafes/new" class="btn btn-lg yellow btn-primary">Create New Cafe</a>
        </div>
    </header>
</div>

<!-- Container for all the cafes -->
<div class="container">
    <section class="row text-center">
        <% cafes.forEach(e => { %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="/cafes/<%= e._id %>" id="card-link">
                    <div class="card" id="cafe-card">
                        <img src="<%= e.img %>" class="thumb card-img-top" alt="<%= e.name %>">
                        <div class="card-body">
                            <h6 class="card-text"><%= e.name %></h6>
                            <!--
                            <a href="/cafes/<%= e._id %>" class="btn blue align-items-end mt-auto">Show Info</a>
                            -->
                        </div>
                    </div>
                </a>
            </div>
        <% }) %>
    </section>
</div>  

<%- include ("../partials/footer") %>