<%- include ("../partials/header") %>

<% function timeDiff(t1, t2) {
    let dt = Math.abs(t2.getTime() - t1.getTime());
    let diffMin = Math.abs(dt / (1000 * 60));
    // seconds
    if (diffMin*60 < 60) return timeStamp(diffMin*60, "second")
    // minutes
    if (diffMin < 60) return timeStamp(diffMin, "minute")
    // hours
    if (diffMin/60 < 24) return timeStamp(diffMin/60, "hour")
    // days
    if (diffMin/60/24 < 31) return timeStamp(diffMin/60/24, "day")
    // months
    if (diffMin/60/24/31 < 12) return timeStamp(Math.abs(t2.getMonth()-t1.getMonth()), "month")
    // years
    if (diffMin/60/24/31/12 >= 1) return timeStamp(diffMin/60/24/31/12, "year")

    else return "invalid time ago"

    function timeStamp(time, unit) {
        time = Math.floor(time);
        if (time > 1) unit += 's';
        return `${time} ${unit} ago` 
    }
} %>

<div class="container-fluid" id="bg-container">
    <!-- Container for the header -->
    <header class="jumbotron" id="img-bg">
        <div class="container bg-jumbo">
            <h1 class="display-4 bg-text">Welcome to YelpCafe!</h1>
            <h6 class="bg-text">View our selection of Coffee Shops from around the World!</h6>
            <a href="/cafes/new" class="btn btn-lg yellow btn-primary">Create New Cafe</a>
        </div>
    </header>
</div>

<!-- Container for all the cafes -->
<div class="container">
    <section class="row">
        <% cafes.forEach(e => {
            var reviews=0, price = '', ratings = 0;
            e.comments.forEach(comment => {reviews++;});
            for (let i=0; i<e.price; i++) { price += '<i class="fas fa-dollar-sign"></i>'; }
            e.comments.forEach(comment => { ratings += comment.rating; });
            ratings /= e.comments.length;
            ratings ? ratings = ratings.toFixed(1) : ratings = "No Reviews";
        %>
            <div class="col-md-6 col-lg-4">
                <div class="card" id="cafe-card">
                    <a href="/cafes/<%= e._id %>" id="card-link">
                        <img src="<%= e.img %>" class="thumb card-img-top" alt="<%= e.name %>">
                    </a>
                    <div class="card-body" style="padding-bottom: 5px;">
                        <a href="/cafes/<%= e._id %>"><h6 class="card-title"><%= e.name %></h6></a>
                        <div class="inline" id="card-cafe-infos">
                            <p id="star">
                                <div class="star-container" style="margin-bottom: 1em;">
                                <% for(var i=0; i<ratings; i++) { %>
                                    <i class="fas fa-star full star" style="font-size: 1em;"></i>
                                <% } for(let j=i; j<5; j++) { %>
                                    <i class="fas fa-star star" style="font-size: 12px;"></i>
                                <% } %>
                                </div>
                            </p><br>
                            <p id="reviews"><%= reviews %> reviews</p> &bull;
                            <p id="price"><%- price %></p>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p id="card-cafe-infos">Submitted <%- timeDiff(e.date, date) %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </section>
</div>

<script type="text/javascript">
    var hues = [53, 30, 14, 344, 0];
    var icons = $(".star-container");
    icons.each(function() {
        let i = $(this).find(".full").length - 1; // Array index
        $(this).find(".full").css("background-color", `hsl(${hues[i]}, 85%, 55%)`);
    });
</script>
<%- include ("../partials/footer") %>