<%- include("../partials/header") %>

<a href="/cafes">Go back</a>

<h1><%= cafe.name %> </h1>

<img src="<%= cafe.img %>">
<p><%= cafe.description %></p>

<a href="/cafes/<%= cafe._id %>/comments/new" class="btn btn-success">Create New Comment</a>

<% cafe.comments.forEach(comment => { %>
    <p>
        <strong><%= comment.author %>:</strong>&emsp; <%= comment.text %>
    </p>
<% }) %>

<%- include("../partials/footer") %>