<%- include("../partials/header") %>

<%  var reviews=0, price = '', ratings = 0; date = new Date();
    cafe.comments.forEach(comment => {reviews++;});
    for (let i=0; i<cafe.price; i++) { price += '<i class="fas fa-dollar-sign"></i>' }
    cafe.comments.forEach(comment => { ratings += comment.rating; });
    ratings /= cafe.comments.length
    ratings ? ratings = ratings.toFixed(1) : ratings = "No Reviews"
    
    function timeDiff(t1, t2) {
	    let dt = Math.abs(t2.getTime() - t1.getTime());
        let diffMin = Math.abs(dt / (1000 * 60));
        // seconds
        if (diffMin*60 < 60) return timeStamp(diffMin*60, "second")
        // minutes
        if (diffMin < 60) return timeStamp(diffMin, "minute")
        // hours
        if (diffMin/60 < 24) return timeStamp(diffMin/60, "hour")
        // days
        if (diffMin/60/24 < 31) return timeStamp(diffMin/60/24, "day")
        // months
        if (diffMin/60/24/31 < 12) return timeStamp(Math.abs(t2.getMonth()-t1.getMonth()), "month")
        // years
        if (diffMin/60/24/31/12 >= 1) return timeStamp(diffMin/60/24/31/12, "year")

        function timeStamp(time, unit) {
        	time = Math.floor(time);
        	if (time == 1) return `${time} ${unit} ago`
            else return `${time} ${unit}s ago` 
        }
    }
%>

<div id="img-container">
    <!-- Container for image-->
    <div class="image" style="background-image: url('<%= cafe.img %>');">
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Heading -->
        <section class="col-md-12">
            <h1><%= cafe.name %></h1>
            <p>
                Submitted by <a href="#"><%= cafe.author.username %></a>
            </p>

            <!-- Modify Buttons -->
            <% if(user && cafe.author.id.equals(user._id)) { %> 
                <div id="edit-delete-button">
                    <a href="/cafes/<%= cafe._id %>/edit" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <div class="inline-btn">
                        <form action="/cafes/<%= cafe._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </form>
                    </div>
                </div> 
            <% } %>

            <div class="inline">
                <p id="star"><%= ratings %> <i class="fas fa-star"></i> &bull;</p>
                <p id="reviews"><%= reviews %> reviews &bull;</p>
                <p id="price"><%- price %></p>
            </div>
            <hr>
        </section>
    </div>
    <div class="row">
        <section class="col-md-8">
            <!-- Main Content -->
            <section class="content-block">
                <p class="desc"><%= cafe.description %></p>
            </section>
            <!-- Comments -->
            <section class="card card-body bg-light content-block">
                <div>
                    <h2 class="float-left">Reviews</h2>
                    <a href="/cafes/<%= cafe._id %>/comments/new" class="btn brown float-right">Leave a Review</a>
                </div>
                <hr>
                <% cafe.comments.forEach(comment => { %>
                    <div class="row" id="comment">
                            <div class="col-md-2" id="author-column">
                                <a href="#" id="comment-author">
                                    <div id="profile-container">
                                        <b><%= comment.author.username[0] %></b>
                                    </div>
                                </a>
                                <h5><%= comment.author.username %></h5>
                            </div>
                        <div class="col-md-10">
                            <div class="star-container">
                                <% for(var i=0; i<comment.rating; i++) { %>
                                    <i class="fas fa-star full star"></i>
                                <% } for(let j=i; j<5; j++) { %>
                                    <i class="fas fa-star star"></i>
                                <% } %>
                                <span class="float-right"><%- timeDiff(comment.date, date) %></span><br>
                            </div>
                            <p><%= comment.text %></p>

                            <% if(user && comment.author.id.equals(user._id)) { %>
                                <a class="btn btn-sm btn-warning"
                                    href="/cafes/<%= cafe._id %>/comments/<%= comment._id %>/edit">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <div class="inline-btn">
                                    <form action="/cafes/<%= cafe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">
                                          <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                      </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
           </section>
        </section>

        <!-- Info -->
        <section class="col-md-4 content-block">
            <div class="list-group"><ul>
                <li class="list-group-item"><i class="fas fa-phone mr-4"></i>(123) 456-789</li>
                <li class="list-group-item"><i class="fas fa-directions mr-4"></i><a href="#">Get Directions</a></li>
                <li class="list-group-item"><i class="fas fa-comment-dots mr-4"></i><a href="#">Leave a Message</a></li>
            </ul></div>
        </section>
    </div>
</div>

<script type="text/javascript">
    var hues = [53, 30, 14, 344, 0];
    var icons = $(".star-container");
    icons.each(function() {
        let i = $(this).find(".full").length - 1; // Array index
        $(this).find(".full").css("background-color", `hsl(${hues[i]}, 85%, 55%)`);
    });
</script>

<%- include("../partials/footer") %>