<%- include("../partials/header") %>

<% var reviews=0; for (let p in cafe.comments) {reviews++;} %> 

<div id="img-container">
    <!-- Container for image-->
    <div class="image" style="background-image: url('<%= cafe.img %>');">
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Heading -->
        <section class="col-md-12">
            <h1><%= cafe.name %></h1>
            <p>
                Submitted by <a href="#"><%= cafe.author.username %></a>
            </p>

            <!-- Modify Buttons -->
            <% if(user && cafe.author.id.equals(user._id)) { %> 
                <div id="edit-delete-button">
                    <a href="/cafes/<%= cafe._id %>/edit" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <div class="inline-btn">
                        <form action="/cafes/<%= cafe._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </form>
                    </div>
                </div> 
            <% } %>

                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                &nbsp;&bull;&nbsp;<%= reviews %> reviews&nbsp;&bull;&nbsp;$$
            <hr>
        </section>
    </div>
    <div class="row">
        <section class="col-md-8">
            <!-- Main Content -->
            <section class="content-block">
                <p class="text"><%= cafe.description %></p>
            </section>
            <!-- Comments -->
            <section class="card card-body bg-light content-block">
                <div>
                    <h2 class="float-left">Reviews</h2>
                    <a href="/cafes/<%= cafe._id %>/comments/new" class="btn brown float-right">Leave a Review</a>
                </div>
                <hr>
                <% cafe.comments.forEach(comment => { %>
                    <div class="row" id="comment">
                        <div class="col-md-2">
                            <strong><a><%= comment.author.username %></a></strong>
                        </div>
                        <div class="col-md-10">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                <span class="float-right">10 days ago</span><br>
                                <p><%= comment.text %></p>

                                <% if(user && comment.author.id.equals(user._id)) { %>
                                    <a class="btn btn-sm btn-warning"
                                        href="/cafes/<%= cafe._id %>/comments/<%= comment._id %>/edit">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <div class="inline-btn">
                                        <form action="/cafes/<%= cafe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-danger">
                                              <i class="fas fa-trash-alt"></i> Delete
                                            </button>
                                          </form>
                                    </div>
                                <% } %>
                        </div>
                    </div>
                <% }) %>
           </section>
        </section>

        <!-- Info -->
        <section class="col-md-4 content-block">
            <div class="list-group"><ul>
                <li class="list-group-item"><i class="fas fa-phone mr-4"></i>(123) 456-789</li>
                <li class="list-group-item"><i class="fas fa-directions mr-4"></i><a href="#">Get Directions</a></li>
                <li class="list-group-item"><i class="fas fa-comment-dots mr-4"></i><a href="#">Leave a Message</a></li>
            </ul></div>
        </section>
    </div>
</div>

<div style="height:300px;"></div>

<%- include("../partials/footer") %>